{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% for msg in app.session.flashBag.get('succes') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.session.flashBag.get('delete') %}
        <div class="alert alert-warning">
            {{ msg }}
        </div>
    {% endfor %}




    <table class="table">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Wachtwoord</th>
            <th scope="col">Voornaam</th>
            <th scope="col">Tussenvoegsel</th>
            <th scope="col">Achternaam</th>
            <th scope="col">Geboortedatum</th>
            <th scope="col">Role</th>
            <th scope="col">Aangenomen</th>
            <th scope="col">Salaris</th>
            <th scope="col">Social security nummer</th>
            <th scope="col">Straat</th>
            <th scope="col">Plaats</th>
        </tr>
        </thead>

        <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.email }}</td>
                <td>{{ person.password }}</td>
                <td>{{ person.firstname }}</td>
                <td>{{ person.preprovision }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.dateofbirth ? person.dateofbirth |date('Y-m-d'): '' }}</td>
                <td>{{ person.roles ? person.roles|json_encode : '' }}</td>
                <td>{{ person.hiringdate ? person.hiringdate |date('Y-m-d'): '' }}</td>
                <td>{{ person.salary }}</td>
                <td>{{ person.social_sec_number }}</td>
                <td>{{ person.street }}</td>
                <td>{{ person.place }}</td>
                <td><a href="{{ path('app_update', {id:person.id})}} "><button class="btn btn-primary">Wijzigen</button></a></td>
                <td><a href="{{ path('app_delete', {id:person.id}) }} "><button class="btn btn-danger">Verwijderen</button></a></td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('insert_instructor') }}"><button class="btn btn-primary">insert instructor</button></a>
{% endblock %}

{% block footer %}
    <footer class="container-fluid bg-dark mt-5">

        <div class="row bg-success pt-2">
            <div class="col-4 text-center">
                <i class="bi bi-geo-alt-fill text-white fs-1 float-start"></i>
                <h4 class="ms-5">Locatie</h4>
                <p>Tinwerf 10,2544 ED Den haag</p>
            </div>

            <div class="col-4 text-center">
                <i class="bi bi-telephone-fill text-white fs-1 float-start"></i>
                <h4 class="ms-5">Bellen</h4>
                <p class="ms-5">0612345678</p>
            </div>

            <div class="col-4 text-center">
                <i class="bi bi-envelope-at-fill text-white fs-1 float-start"></i>
                <h4 class="ms-5">Mailen</h4>
                <p class="ms-5">trainingsfactory@service.nl</p>
            </div>
        </div>


        <div class="ms-5 ps-5 row text-center">
            <div class="col">
                <i class="bi bi-facebook  fs-2 text-white me-5"></i>
                <i class="bi bi-instagram fs-2 text-white me-5"></i>
                <i class="bi bi-twitter fs-2 text-white me-5"></i>
                <i class="bi bi-whatsapp fs-2 text-white me-5"></i>
            </div>
        </div>



    </footer>

{% endblock %}